@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif; }

html {
  scroll-behavior: smooth; }

.bg-landing {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
  background-color: #1a1a1a;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.bg-landing2 {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(124, 198, 119, 0.3), rgba(255, 255, 255, 0));
  background-color: #f4f4f4;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.cont-info {
  display: flex;
  justify-content: center;
  align-items: center; }
  .cont-info h1 {
    color: var(--color-blanco);
    font-size: 2.6rem;
    margin-bottom: 10px; }
  .cont-info h3 {
    margin-top: 10px;
    color: var(--color-blanco); }

.cont-personal {
  width: 820px;
  padding: 0.6rem; }

.cont-personal-img img {
  width: 100px;
  border-radius: 20%; }

.cont-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .cont-proyectos .title-proyectos {
    display: flex;
    justify-content: center;
    padding: 1.4rem; }
    .cont-proyectos .title-proyectos h1 {
      font-size: 3rem;
      color: var(--color-blanco); }

.cont-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  gap: 20px;
  width: 1400px;
  padding: 1rem; }

.separador {
  border: solid 1px #808080;
  margin: 10px 0px 10px; }

.cards-proyectos {
  border: solid 1px var(--color-blanco);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
  flex-direction: column;
  width: 350px;
  height: 420px;
  color: #fff;
  background-color: #171717;
  cursor: pointer;
  transition: 0.3s ease; }
  .cards-proyectos:hover {
    transform: scale(1.02); }
  .cards-proyectos .cont-top-card {
    display: flex;
    justify-content: center;
    align-items: center; }
    .cards-proyectos .cont-top-card img {
      width: 347px;
      height: 200px;
      border-radius: 4px; }
  .cards-proyectos .cont-bottom-card {
    display: flex;
    flex-direction: column;
    padding: 0.6rem; }
    .cards-proyectos .cont-bottom-card h4 {
      margin-top: 6px;
      font-weight: 600; }

.cont-tecnologias {
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px; }

.cont-title-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .cont-title-sobremi h1 {
    font-size: 3rem;
    color: var(--color-blanco); }

.cont-text-about {
  margin: auto;
  width: 1000px;
  padding: 1rem; }
  .cont-text-about p {
    margin-bottom: 17px;
    color: var(--color-blanco);
    font-size: 1.2rem; }

nav {
  display: flex;
  justify-content: center;
  height: 100px;
  padding: 2rem; }
  nav ul {
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 32px;
    border-radius: 12px;
    padding: 0.62rem;
    z-index: 9999; }
    nav ul li {
      cursor: pointer;
      list-style: none; }
      nav ul li i {
        margin-top: 3px;
        color: #fff; }
    nav ul a {
      text-decoration: none;
      font-size: 1.1rem;
      color: var(--color-blanco); }

.navbgon {
  background-color: #030022;
  transition: 0.2s ease;
  box-shadow: 2px 2px 6px #0000006b; }

.navbgonlight {
  background-color: #dfdfdf;
  box-shadow: 2px 2px 6px #0000006b;
  transition: 0.2s ease; }

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 3rem; }
  footer .cont-footer1 {
    color: var(--color-blanco); }
    footer .cont-footer1 a {
      text-decoration: none;
      color: var(--color-blanco);
      margin-left: 12px; }

.cont-pastillas {
  display: flex;
  gap: 17px; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 17px 16px;
  gap: 5px;
  height: 32px;
  width: 162px;
  border: solid 1px #b6b6b663;
  background: var(--color-negro);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out; }
  .button i {
    color: var(--color-blanco); }

.lable {
  line-height: 22px;
  font-size: 17px;
  font-weight: 600;
  color: var(--color-blanco);
  letter-spacing: 1px; }

.button:hover {
  background: var(--color-blanco); }
  .button:hover .lable {
    color: var(--color-negro); }

.button:hover .fa-brands.fa-linkedin-in {
  color: var(--color-negro); }

.button:hover .fa-solid.fa-envelope {
  color: var(--color-negro); }

.button:hover .svg-icon {
  animation: lr 1s linear infinite; }

.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  position: relative;
  text-decoration: none;
  font-weight: 60;
  border-radius: 100px;
  overflow: hidden;
  padding: 2px;
  isolation: isolate; }

.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg, #d1d1d1, #127b02, #8cfd7a);
  background-size: 25% 100%;
  animation: hola 4s linear infinite;
  animation-play-state: running;
  translate: -5% 0%;
  transition: translate 4s ease-out; }

.codepen-button:hover::before {
  animation-play-state: running;
  transition-duration: 4s;
  translate: 0% 0%; }

@keyframes hola {
  to {
    transform: translateX(-25%); } }

.codepen-button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #128400;
  border-radius: 100px;
  height: 32px;
  width: 162px; }

:root {
  --color-blanco: #dbdbdb;
  --color-negro: #171717; }

@media (max-width: 1000px) {
  .cont-text-about {
    width: 800px; }
    .cont-text-about p {
      font-size: 1rem; } }

@media (max-width: 800px) {
  .cont-text-about {
    width: 600px; }
    .cont-text-about p {
      font-size: 1rem; } }

@media (max-width: 650px) {
  .cont-personal-img {
    display: none; }
  .cont-text-about {
    width: 500px; }
  .cont-info h3 {
    font-size: 1rem;
    width: 530px; }
  .cont-personal {
    width: 560px;
    padding: 0; }
  .button {
    width: 154px; }
  footer {
    justify-content: center;
    margin: auto; } }

@media (max-width: 550px) {
  .cont-personal {
    width: auto; }
  .cont-info h1 {
    font-size: 2rem; }
  .cont-info h3 {
    width: 412px;
    font-size: 1rem; }
  .codepen-button span {
    width: 120px;
    height: 32px;
    font-size: 12px; }
  .codepen-button {
    padding: 0; }
  .button {
    padding: 0;
    width: 120px; }
    .button .lable {
      font-size: 12px; }
  .cont-text-about {
    width: 450px; }
  footer {
    max-width: 900px;
    padding: 1rem; }
  footer .cont-footer1 {
    margin-top: 10px; } }

@media (max-width: 500px) {
  nav ul a {
    font-size: 1rem; }
  .cont-text-about {
    width: 400px; }
  .cont-info h3 {
    width: 370px; } }

@media (max-width: 418px) {
  nav ul {
    gap: 17px; }
  .cont-text-about {
    width: 383px; }
  .cont-personal {
    width: 380px; }
  .cont-info h3 {
    width: 360px;
    margin: auto;
    font-size: 0.9rem; }
  .cont-pastillas {
    margin-bottom: 10px;
    gap: 6px; }
  .cont-info h1 {
    margin-left: 6px; } }
