.bg-landing {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-color: #1a1a1a;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-landing2 {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(124, 198, 119, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-color: #f4f4f4;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cont-info {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: solid 1px $blanco;

  h1 {
    color: var(--color-blanco);
    font-size: 2.6rem;
    margin-bottom: 10px;
  }
  h3 {
    margin-top: 10px;
    color: var(--color-blanco);
  }
}

.cont-personal {
  width: 820px;
  padding: 0.6rem;
}

.cont-personal-img {
  img {
    width: 100px;
    border-radius: 20%;
  }
}

.cont-proyectos {
  // border: solid $blanco 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .title-proyectos {
    display: flex;
    justify-content: center;
    padding: 1.4rem;
    h1 {
      font-size: 3rem;
      color: var(--color-blanco);
    }
  }
}

.cont-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  gap: 20px;
  width: 1400px;
  padding: 1rem;
}

.separador {
  border: solid 1px #808080;
  margin: 10px 0px 10px;
}

.cards-proyectos {
  border: solid 1px var(--color-blanco);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-basis: 300px;
  justify-content: space-between;
  flex-direction: column;
  width: 350px;
  height: 420px;
  // padding: 0.6rem;
  color: #fff;
  background-color: #171717;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }

  .cont-top-card {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 347px;
      height: 200px;
      border-radius: 4px;
    }
  }

  .cont-bottom-card {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    h4 {
      margin-top: 6px;
      font-weight: 600;
    }
  }
}

.cont-tecnologias {
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.cont-title-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h1 {
    font-size: 3rem;
    color: var(--color-blanco);
  }
}

.cont-text-about {
  margin: auto;
  width: 1000px;
  padding: 1rem;

  p {
    margin-bottom: 17px;
    color: var(--color-blanco);
    font-size: 1.2rem;
  }
}
